@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Darker+Grotesque:wght@700&family=Hammersmith+One&family=Lexend:wght@600&family=Manjari:wght@700&family=Quicksand&display=swap');

@media (max-width: 460px) { 

body{
    background-color: #000000;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
} 

.header{
    background-image: url("index/background-img/5525122-phone.jpg");
    width: 100%;
    height: 661px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.title-box{
   
    width: 90%;
    height: 100px;
    
    margin-top: 50%;
    margin-left: 6%;
    margin-right:;
}

.title-logo{
    font-family: 'Nunito', sans-serif;
    font-size: 300%;
    color:#ffffff;
}
.title-graphy{
    color:#ffffff;
    font-family:  'Nunito', sans-serif;
    font-size: 300%;
}
.sm-icon{
    width: 100px;
    height: 40px;
    margin-bottom: 10%;
    margin-left: 35%;
}

.icon-o{
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    right: 5px;
}

.point-box{
   
    width: 350px;
    height: 150px;
    padding: 5px;

    margin-top: 690px;
    margin-bottom: 40px;
    margin-left: 35px;
}
.point-hdr{
    font-family: 'Fredoka One', cursive;
    margin-top: 10px;
    margin-left: 10px;
    color: aliceblue;
    font-size: 30px;
}
.point-line{
    color:#ffffff;
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.scroll-box{
    height: 30px;
    width: 340px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
}
.scroll-text{
    color:#ffffff;
    font-family: 'Lexend Deca', sans-serif;
    width: 98px;
    margin: 5px;
}

.scroll-icon{
    width: 45px; 
    height: 45px; 
    padding: 1px;
    margin-left: -9px;
    margin-top: -6px;
}

.main-body{
    width: 100%;
    height: 3000px;
}

.footer{
    width: 100%;
    height: 500px;
    position: absolute;
    left: 0px;
    border-top: 0.5px solid #ffffff49;
}

.aboutus-box{
    width: 100px;
    height: 380px;
    position: absolute;
    margin: auto;
    top: 30px;
    right: 0;
    left: 0;
}
.aman-pro{
    background: #817f7f;
    width: 50%;
    height: 100%;
}

.dhiyan-pro{
    background: #d80000;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;    
}

.insta-id-box{
    color:#ffffff;
    text-align: center;
    height: 30px;
}

.icon-fo{
    width: 75%;
    height: 67%;
    margin-left: 43px;
    margin-right: 43px;
    margin-bottom: 40px;
}

.name-tag{
    width: 100%;
    font-family: 'Quicksand', sans-serif;
}

.insta-icon{
    width: 20px;
    height: 20px;
}


}